.fiscal-calendar{background-color:#dedede;display:inline-block;margin:10px;padding:10px;text-shadow:1px 1px 0 rgba(255,255,255,0.6)}
.fiscal-calendar-year-title{margin-bottom:0}
.fiscal-calendar-month{float:left;margin:0 20px 20px 0}
.fiscal-calendar-day{display:inline-block;height:16px;margin:2px;text-align:center;width:16px}
